@using GridMvc.Html
@using CDT.Importacao.Data.DAL.Classes

<h2>Histórico de Arquivos</h2>


@Html.ActionLink("Novo", "Cadastro", "", new { @class = "btn btn-primary" })


@Html.Partial("_partialArquivos")





